<html>

<head>
    <title>my webpage</title>
</head>

<body>
    <h1>PROGRAMMING LANGUAGES</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sit officia praesentium, sunt aspernatur sed nostrum assumenda laudantium repellat quasi nesciunt ex tempora omnis tenetur fugit unde molestiae, illo esse.</P>
    <hr>
    <h2>c++</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam alias id, commodi voluptates officiis enim sapiente assumenda ut aliquid fugit totam reiciendis animi saepe odit voluptatem ad consequuntur, fugiat eaque.</p>
    <hr>
    <h2>php</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione accusantium dolorum possimus facere qui suscipit ad veniam praesentium eligendi cupiditate ipsam illo dolor est officia necessitatibus sequi, magnam consectetur molestiae.</p>
    <hr>
    <h2>oops</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque deleniti voluptate veritatis facilis iure, magnam ab sequi porro harum. Eaque culpa odio aut impedit cum inventore blanditiis soluta voluptatibus. Sint? </p>
    <hr>
    <h2>python</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eaque recusandae commodi excepturi, repellat ipsa ut odit consectetur sed minus rem nam quis vero! Suscipit optio tempore mollitia accusantium modi!</p>
    <hr>
</body>

</html>