<!DOCTYPE html>
<html>

<head>
    <title>mypage</title>
    <style>
        body {
            background-image: linear-gradient(red, yellow);
        }
        
        h1 {
            text-align: center;
        }
        
        .para {
            color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
        
        .button {
            text-transform: uppercase;
            height: 50px;
            width: 150px;
            border: solid red 2px;
            color: black;
        }
    </style>

</head>

<body>
    <h1>Baabtra</h1>
    <p>welcome to baabtra,cybersquare,hilite buis nhguuhuijirrkrjjjfnjg nuhrkomhnnjgjkkr njrufjrkmkrrkgjkrnnrkkgnr grjgrkijness park.hhfehfuhuhuh urrjuhnirijirj rjuthirn4hu8nijr</p>
    <button class="button">click</button>

</body>

</html>